@use '../custom' as *;
@use 'utils/mixins';
.nuestros-planes {
    h2 {
        @include mixins.headingBorder($white, $primary);
    }
    .plan {
        padding-top: 16rem;
        padding-bottom: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;
        border-bottom: 1px solid #e1e1e1;
        @include media-breakpoint-up(md) {
            border: none;
            @include transition(transform 300ms ease);
            &:hover {
                transform: scale(1.1);
            }
        }
        .precio {
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        &.inicio {
            @include mixins.bgIcono('../img/icono_inicio.svg');
        }
        &.negocio {
            @include mixins.bgIcono('../img/icono_negocio.svg');
            @include media-breakpoint-up(md) {
                margin-top: -5rem;
                margin-bottom: -5rem;
                border-radius: 2rem;
                z-index: 100;
                padding-top: calc(16rem + 5rem);
                background-position-y: calc(2rem + 5rem);
            }
        }
        &.pro {
            @include mixins.bgIcono('../img/icono_pro.svg');
        }
    }
}