:root{
    --bs-blue: #037BC0;
    --bs-green: #8cbc00;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1, h2, h3{
    font-family: 'Raleway', sans-serif;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}

/*Para reescribir*/
.text-primary{
    color: var(--bs-blue) !important;
}

.btn-success{
   background-color: var(--bs-green) !important;
}

.bg-primary{
   background-color: var(--bs-blue) !important;
}


.hero{
    background-image: url('../img/principal.jpg');
    height: 25rem;
    background-size: cover;
    background-position: center center;
}

.producto img{

}

.form-control{
    padding: 1rem;
    font-size: 1.6rem;
}

.categoria img{
    transition-property: transform;
    transition-duration: 300ms;
}

.categoria img:hover{
    transform: scale(1.2);
}
/*Aplica a todos menos el ultimo*/
.galeria li:not(:last-of-type){
    margin-bottom: 1rem;
}

@media (min-width: 768px ){
    .producto img{
        height: 43rem;
        width: 100%;
        object-fit: cover;
    }
    .hero{
        height: 40rem;
    }
    h3{
        font-size: 3rem; 
    }
    h2{
        font-size: 4rem;
    }
    h1{
        font-size: 5rem;
    }       
}